/* Fonts */
.reveal section code {
  font-family: monaco;
  font-size: 1.0em;
  line-height: 1.3em;
}

.reveal section h1 {
  font-size: 1.8em;
}

/* Left-align */
.reveal section pre {
  margin-left: 0;
  width: 100%;
}

.reveal section blockquote {
  margin-left: 0;
  width: 100%;
}

/* Slide types */
.center .reveal h3 {
  text-align: center;
}

.center .reveal img {
  display: block;
  margin: auto;
}

/* Remove shadows */
.reveal section pre, .reveal section img {
  box-shadow: none;
}

/* Center block quotes */
.reveal blockquote {
  width: 100%;
  text-align: center;
  padding: 0.8em 0 0 0;
}

.reveal small {
  padding: 0.1em 0 0 0;
}

.bigquote .reveal blockquote {
  text-align: left;
  padding: 0.5em;
}

/* Scrollable plots */
.reveal div.scrollable {
  overflow: scroll;
}
